$brand: #600;
$brand-lighter: #ff4646;
$brand-darker: #460000;

$accent: #fff;


$base-light: #f6f6f6;
$base-lighter: #e1e1e1;
$base: #b7b7b7;
$base-darker: #333;
$base-dark: #272727;


$font-light: #fcfcfc;
$font-lighter: #d2d2d2;
$font: #979797;
$font-darker: #333;
$font-dark: #242424;

$base-font: normal normal 13px/18px 'Lato', sans-serif;