<aside class="aside">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-12">
			<div class="profile">
				<figure class="profile-img">
					<img src="http://placehold.it/80x80" alt="">
				</figure>
				<div class="profile-info">
					<h5 class="profile-name">
						Name Goes Here
					</h5>
					<p class="profile-position">
						Principal / Headmaster
					</p>
					<a href="#" class="link link--more">
						View Profile
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
					</a>
				</div>
			</div>
			<div class="profile">
				<figure class="profile-img">
					<img src="http://placehold.it/80x80" alt="">
				</figure>
				<div class="profile-info">
					<h5 class="profile-name">
						Name Goes Here
					</h5>
					<p class="profile-position">
						Principal / Headmaster
					</p>
					<a href="#" class="link link--more">
						View Profile
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
					</a>
				</div>
			</div>
			<div class="link-group">
				<h3 class="section-title">
					Most Popular Links
				</h3>
				<ul>
					<li>
						<a href="#" class="link link--article">
							<i class="fa fa-angle-double-right" aria-hidden="true"></i>
							Course Descriptions and Catalogue
						</a>
					</li>
					<li>
						<a href="#" class="link link--article">
							<i class="fa fa-angle-double-right" aria-hidden="true"></i>
							Departments &amp; Programs
						</a>
					</li>
					<li>
						<a href="#" class="link link--article">
							<i class="fa fa-angle-double-right" aria-hidden="true"></i>
							Work &amp; Study Program(s) Descriptions and Catalogue Descriptions and Catalogue Students With Disabilities
						</a>
					</li>
					<li>
						<a href="#" class="link link--article">
							<i class="fa fa-angle-double-right" aria-hidden="true"></i>
							Students With Disabilities
						</a>
					</li>
					<li>
						<a href="#" class="link link--article">
							<i class="fa fa-angle-double-right" aria-hidden="true"></i>
							Student Financial Services
						</a>
					</li>
					<li>
						<a href="#" class="link link--article">
							<i class="fa fa-angle-double-right" aria-hidden="true"></i>
							University Library
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-12">
			<div class="calendar">
				<h3 class="section-title">
					Calendar of Events
				</h3>
				<div id="datepicker"></div>
			</div>
		</div>
	</div>
</aside>