<div class="col-xs-12 col-md-8">
	<div class="slider-container">
		<div class="slider">
			<div>
				<figure class="slider-item slider-item-1">
					<img src="http://placehold.it/600x280">
					<figcaption class="slider-caption">
						<h4 class="slider-title">
							Nullamlacus dui ipsum 1
						</h4>
						<p class="slider-subtitle">
							Temperinte interdum sempus odio urna eget curabitur semper convallis nunc laoreet.
						</p>
						<a href="#" class="slider-more">
							Continue Reading
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						</a>
					</figcaption>
				</figure>
			</div>
			<div>
				<figure class="slider-item slider-item-2">
					<img src="http://placehold.it/500x280">
					<figcaption class="slider-caption">
						<h4 class="slider-title">
							Nullamlacus dui ipsum 2
						</h4>
						<p class="slider-subtitle">
							Temperinte interdum sempus odio urna eget curabitur semper convallis nunc laoreet.
						</p>
						<a href="#" class="slider-more">
							Continue Reading
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						</a>
					</figcaption>
				</figure>
			</div>
			<div>
				<figure class="slider-item slider-item-3">
					<img src="http://placehold.it/630x280">
					<figcaption class="slider-caption">
						<h4 class="slider-title">
							Nullamlacus dui ipsum 3
						</h4>
						<p class="slider-subtitle">
							Temperinte interdum sempus odio urna eget curabitur semper convallis nunc laoreet.
						</p>
						<a href="#" class="slider-more">
							Continue Reading
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						</a>
					</figcaption>
				</figure>
			</div>
			<div>
				<figure class="slider-item slider-item-4">
					<img src="http://placehold.it/600x380">
					<figcaption class="slider-caption">
						<h4 class="slider-title">
							Nullamlacus dui ipsum 4
						</h4>
						<p class="slider-subtitle">
							Temperinte interdum sempus odio urna eget curabitur semper convallis nunc laoreet.
						</p>
						<a href="#" class="slider-more">
							Continue Reading
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						</a>
					</figcaption>
				</figure>
			</div>
			<div>
				<figure class="slider-item slider-item-5">
					<img src="http://placehold.it/600x280">
					<figcaption class="slider-caption">
						<h4 class="slider-title">
							Nullamlacus dui ipsum 5
						</h4>
						<p class="slider-subtitle">
							Temperinte interdum sempus odio urna eget curabitur semper convallis nunc laoreet.
						</p>
						<a href="#" class="slider-more">
							Continue Reading
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						</a>
					</figcaption>
				</figure>
			</div>
			<div>
				<figure class="slider-item slider-item-6">
					<img src="http://placehold.it/450x280">
					<figcaption class="slider-caption">
						<h4 class="slider-title">
							Nullamlacus dui ipsum 6
						</h4>
						<p class="slider-subtitle">
							Temperinte interdum sempus odio urna eget curabitur semper convallis nunc laoreet.
						</p>
						<a href="#" class="slider-more">
							Continue Reading
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						</a>
					</figcaption>
				</figure>
			</div>
			<div>
				<figure class="slider-item slider-item-7">
					<img src="http://placehold.it/600x290">
					<figcaption class="slider-caption">
						<h4 class="slider-title">
							Nullamlacus dui ipsum 7
						</h4>
						<p class="slider-subtitle">
							Temperinte interdum sempus odio urna eget curabitur semper convallis nunc laoreet.
						</p>
						<a href="#" class="slider-more">
							Continue Reading
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						</a>
					</figcaption>
				</figure>
			</div>
		</div>
		<div class="slider-nav">
			<div>
				<figure class="slider-item slider-item-1">
					<img src="http://placehold.it/100x60">
				</figure>
			</div>
			<div>
				<figure class="slider-item slider-item-2">
					<img src="http://placehold.it/100x60">
				</figure>
			</div>
			<div>
				<figure class="slider-item slider-item-3">
					<img src="http://placehold.it/100x60">
				</figure>
			</div>
			<div>
				<figure class="slider-item slider-item-4">
					<img src="http://placehold.it/100x60">
				</figure>
			</div>
			<div>
				<figure class="slider-item slider-item-5">
					<img src="http://placehold.it/100x60">
				</figure>
			</div>
			<div>
				<figure class="slider-item slider-item-6">
					<img src="http://placehold.it/100x60">
				</figure>
			</div>
			<div>
				<figure class="slider-item slider-item-7">
					<img src="http://placehold.it/100x60">
				</figure>
			</div>
		</div>
	</div>
</div>
		