<div class="row main-news">
	<div class="col-xs-4">
		<div class="main-article">
			<figure class="main-article--img">
				<img src="http://placehold.it/180x100" alt="">
			</figure>
			<p class="main-article--text">
				Nullamlacus dui ipsum conseqlo borttis non euisque morbipen a sdapibulum orna. Nullamlacus dui ipsum conseqlo borttis non euisque!
			</p>
			<ul>
				<li>
					<a href="#" class="link link--article">
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						Lorem ipsum dolor
					</a>
				</li>
				<li>
					<a href="#" class="link link--article">
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						Suspendisse in neque
					</a>
				</li>
				<li>
					<a href="#" class="link link--article">
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						Praesent et eros
					</a>
				</li>
				<li>
					<a href="#" class="link link--article">
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						Lorem ipsum dolor
					</a>
				</li>
				<li>
					<a href="#" class="link link--article">
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						Suspendisse in neque
					</a>
				</li>
				<li>
					<a href="#" class="link link--article">
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						Praesent et eros
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="main-article">
			<figure class="main-article--img">
				<img src="http://placehold.it/180x100" alt="">
			</figure>
			<p class="main-article--text">
				Nullamlacus dui ipsum conseqlo borttis non euisque morbipen a sdapibulum orna.
			</p>
			<ul>
				<li>
					<a href="#" class="link link--article">
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						Lorem ipsum dolor
					</a>
				</li>
				<li>
					<a href="#" class="link link--article">
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						Suspendisse in neque uspendisse in neque uspendisse in neque 
					</a>
				</li>
				<li>
					<a href="#" class="link link--article">
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						Praesent et eros
					</a>
				</li>
				<li>
					<a href="#" class="link link--article">
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						Lorem ipsum dolor
					</a>
				</li>
				<li>
					<a href="#" class="link link--article">
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						Suspendisse in neque
					</a>
				</li>
				<li>
					<a href="#" class="link link--article">
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						Praesent et eros
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="main-article">
			<figure class="main-article--img">
				<img src="http://placehold.it/180x100" alt="">
			</figure>
			<p class="main-article--text">
				Nullamlacus dui ipsum conseqloconseqlo borttis non euisque morbipen a sdapibulum orna. Nullamlacus dui ipsum conseqlo borttis non borttis non euisque morbipen a sdapibulum orna.
			</p>
			<ul>
				<li>
					<a href="#" class="link link--article">
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						Lorem ipsum dolor
					</a>
				</li>
				<li>
					<a href="#" class="link link--article">
						<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						Suspendisse in neque
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>