<div class="col-xs-12 col-sm-6 news-list">
	<h3 class="section-title">
		Latest News &amp; Events
	</h3>
	<article class="article">
		<h5 class="article-title">
			Magna phasellus
		</h5>
		<time datetime="01-21" class="article-date">
			Monday 21st January
		</time>
		<p class="article-text">
			Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phasellus sagittitor ant curabiturpis.
		</p>
	</article>
	<article class="article">
		<h5 class="article-title">
			Magna phasellus
		</h5>
		<time datetime="01-21" class="article-date">
			Monday 21st January
		</time>
		<p class="article-text">
			Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phasellus sagittitor ant curabiturpis, ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phasellus sagittitor ant curabiturpis.
		</p>
	</article>
	<article class="article">
		<h5 class="article-title">
			Magna phasellus
		</h5>
		<time datetime="01-21" class="article-date">
			Monday 21st January
		</time>
		<p class="article-text">
			Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phasellus sagittitor ant curabiturpis.
		</p>
	</article>
</div>
