<aside class="col-xs-12 col-md-4 option">
	<div class="option-item">
		<figure class="option-img">
					
		</figure>
		<h3 class="option-title">
			<a href="#">
				MAKE AN APPLICATION
			</a>
		</h3>
	</div>
	<div class="option-item">
		<figure class="option-img">
					
		</figure>
		<h3 class="option-title">
			<a href="#">
				ORDER A PROSPECTUS
			</a>
		</h3>
	</div>
	<div class="option-item">
		<figure class="option-img">
					
		</figure>
		<h3 class="option-title">
			<a href="#">
				FEES &amp; FUNDING
			</a>
		</h3>
	</div>
</aside>