<div class="col-xs-12 col-sm-6">
	<h3 class="section-title">
		Take The Virtual Tour
	</h3>
	<iframe src="https://www.youtube.com/embed/K3tNgwQwKK4" frameborder="0" class="video"></iframe>
	<p class="video-caption">
		Aliquatpede id pellus elit quis in nec consectetuer mattis duis in. Ipsumet ris morbi quis ac nulla aenean trisuscelerit nonummy augue et. Elisicursus aenean sit consequam wisi ames felit phasellenterdum sagittis sit mauris. 
	</p>
	<a href="#" class="link link--more">
		Continue Reading
	<i class="fa fa-angle-double-right" aria-hidden="true"></i>
	</a>
</div>