<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<h4 class="footer-title">
					University Name Here
				</h4>
				<address>
					<span>Address Line 1</span>
					<span>Address Line 2</span>
					<span>Town/City</span>
					<span>Postcode/Zip</span>
					<br>
					<br>
					<a href="#">Tel: xxxx xxxx xxxxxx</a>
					<a href="mailto:contact@domain.com">Email: contact@domain.com</a>
				</address>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-8 info">
				<div class="row">
					<div class="col-xs-6 col-sm-12 col-md-6">
						<a class="info-item">
							Prospective Students
						</a>
					</div>
					<div class="col-xs-6 col-sm-12 col-md-6">
						<a class="info-item">
							International Students
						</a>
					</div>
					<div class="col-xs-6 col-sm-12 col-md-6">
						<a class="info-item">
							Postgraduate Courses
						</a>
					</div>
					<div class="col-xs-6 col-sm-12 col-md-6">
						<a class="info-item">
							Undergraduate Courses
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row border">
			<div class="col-xs-12"></div>
		</div>
		<p class="copyright">
			Copyright © 2013 - All Rights Reserved - Domain Name
		</p>
		<p class="template">
			Template by OS Templates
		</p>
	</div>
</footer>