.header
{
    color: $font-light;
    background-color: $brand;
    .container
    {
        padding: 25px 20px;
    }
}
.page-title
{
    font-size: 32px;
    font-weight: normal;
}
.page-caption
{
    font-size: 12px;

    margin: 11px 0;
}
.input
{
    position: relative;

    float: right;

    margin-top: 4px;

    @include mobile
    {
        float: left;
    }
    @include mobile-small
    {
        float: left;
    }
    input
    {
        line-height: 15px;

        width: 250px;
        padding: 5px;

        color: $font-darker;
        border-radius: 5px;
        background-color: $accent;
    }
}
.search
{
    line-height: 14px;

    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;

    padding: 5px 8px;

    text-transform: uppercase;

    border-radius: 5px;
    background-color: $brand;
}
.login
{
    float: right;

    text-align: right;

    @include mobile
    {
        float: left;
        clear: left;
    }
    @include mobile-small
    {
        float: left;
        clear: left;
    }
}
.login-item
{
    font-size: 11px;

    display: inline-block;

    margin-top: 14px;
    padding: 0 6px;

    border-right: 1px solid $font-light;
    &:last-of-type
    {
        border: none;
    }
}
.main-nav
{
    border-bottom: 2px solid $base-lighter;
    background-color: $base-light;
}

.burger
{
    @include tablet
    {
        display: none;
    }
    @include desktop
    {
        display: none;
    }
}

.fa-bars
{
    font-size: 30px;

    padding: 10px 0;
}

.nav
{
    padding: 6px 0 7px;

    @include mobile
    {
        display: none;
    }
    @include mobile-small
    {
        display: none;
    }
    &-item
    {
        display: inline-block;

        padding: 24px 20px 26px;

        text-transform: uppercase;

        color: $brand;
        border-right: 2px solid $base-lighter;
        &:hover
        {
            color: $font-dark;
        }
        &:first-of-type
        {
            padding-left: 0;
        }
        &:last-of-type
        {
            border: none;
        }
    }
}
