.main-news
{
    display: flex;

    margin-right: -9px;
    margin-left: -9px;
    padding-top: 15px;
    padding-bottom: 30px;
    @media screen and (max-width: 480px)
    {
        display: block;
    }
    .col-xs-4
    {
        display: flex;

        padding-right: 9px;
        padding-left: 9px;
        @media screen and (max-width: 480px)
        {
            display: block;

            width: 100%;
            margin: 7.5px 0;
        }
    }
}
.main-article
{
    padding: 9px;

    border: 1px solid $font-lighter;
    .main-article--img
    {
        margin-bottom: 14px;
        img
        {
            width: 100%;
        }
    }
    .main-article--text
    {
        font-size: 13px;
        line-height: 16px;

        margin-bottom: 21px;

        color: $font;
    }
}
